.cell {
  width: 2rem;
  height: 2rem;
  border: 0.04rem solid rgba(220, 220, 220, 0.2);
  position: relative;
}

.cell::before {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  top: 0.18rem;
  left: 0.18rem;
  background-color: rgba(220, 220, 220, 0.2);
}

.active,
.freeze {
  border: 0.04rem solid rgba(0, 0, 0, 0.8);
}

.active::before,
.freeze::before {
  background: rgba(0, 0, 0, 0.8);
}
