.cell {
  width: 2rem;
  height: 2rem;
  border: 0.04rem solid var( --primary-color-light-2);
  position: relative;
}

.cell::before {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  top: 0.18rem;
  left: 0.18rem;
  background-color: var(--primary-color-light-2);
}

.active,
.freeze {
  border: 0.04rem solid var(--primary-color);
}

.active::before,
.freeze::before {
  background: var(--primary-color);
}
