.arrow {
  width: 5em;
  height: 6em;
  /* background: #f1e610; */
  text-align: center;
  position: relative;
}

.arrow::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.arrow__content {
  width: 2em;
  height: 2em;
  margin: 0 auto;
  border: 1.5em solid transparent;
  border-bottom: 2.2em solid black;
}

.arrow--down {
  transform: rotateZ(180deg);
}
.arrow--left {
  transform: rotateZ(-90deg);
}
.arrow--right {
  transform: rotateZ(90deg);
}
