.btn {
  font-size: inherit;
  border: none;
  height: 4em;
  width: 4em;
  background: rgb(53, 52, 52);
  border-radius: 5em;
  position: absolute;
  outline: none;
}

.btn::before {
  content: "";
  position: absolute;
  font-size: 1.2em;
  bottom: -1.6em;
}

.btn--start {
  top: 4em;
}

.btn--start::before {
  content: "Start";
  left: 0.6em;
}

.btn--pause {
  top: 0;
  left: 6em;
}

.btn--pause::before {
  content: "Pause";
  left: 0.3em;
}
