.btn {
  font-size: inherit;
  border: none;
  height: 5.2em;
  width: 5.2em;
  background: var(--primary-color-light);
  border-radius: 5em;
  position: absolute;
  outline: none;
  color: #eee7e7;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.btn::before {
  content: "";
  position: absolute;
  font-size: 1.2em;
  bottom: -1.8em;
}

.btn--start {
  top: 7em;
  left: -1em;
}

.btn--start::before {
  content: "Start";
  left: 1em;
}

.btn--pause {
  top: 1em;
  left: 5em;
  transition: box-shadow 0.1s ease;
}

.btn--pause::before {
  content: "Pause";
  left: 0.7em;
}

.isPaused {
  box-shadow: none;
}

.isPaused::before {
  content: "Resume";
  left: 0.4em;
}

.start {
  background: red;
}
