.control-panel {
  /* background:#E61B21; */
  display: flex;
  align-items: flex-end;
  transition: 0.2s ease-in-out;
  font-size: 10px;
  perspective: 1000px;
}

.control-panel__arrows-wrapper {
  width: 12em;
  height: 12em;
  display: flex;
  flex-wrap: wrap;
}

.up {
  transform: rotateX(20deg);
}
.down {
  transform: rotateX(-20deg);
}
.left {
  transform: rotateY(-20deg);
}
.right {
  transform: rotateY(20deg);
}