.control-panel {
  width: 300px;
  height: 200px;
  /* background:#E61B21; */
  border: 1px solid black;
  padding: 20px;
  transition: 0.2s ease-in-out;
  font-size: 10px;
  perspective: 1000px;
}

.control-panel__arrows-wrapper {
  border: 1px solid black;
  width: 15em;
  height: 15em;
  display: flex;
  flex-wrap: wrap;
}

.up {
  transform: rotateX(20deg);
}
.down {
  transform: rotateX(-20deg);
}
.left {
  transform: rotateY(-20deg);
}
.right {
  transform: rotateY(20deg);
}