.game-over {
  color: var(--primary-color-light-2);
}
.game-over__text {
  font-family: "Digital";
  font-size: 5em;
  text-align: center;
  padding-top: 0.25em;
}
.visible {
  color:var(--primary-color-dark);
}
