.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__frame--inner,
.game__frame--middle,
.game__frame--outer {
  display: flex;
}

.game__frame--inner {
  border: 2px solid var(--primary-color-light-1);
  background: white;
  margin: 0.2em;
}

.game__frame--middle {
  border: 1.2em solid var(--secondary-color-dark);
  background-color: inherit;
  background: white;;
}

.game__frame--outer {
  display: flex;
  border: 5px solid white;
  padding: 1em;
}

.game__side-panel {
  border-left: 2px solid var(--primary-color-light-1);
}
