.modal {
  position: absolute;
  width: 12rem;
  height: 7rem;
  top: 50%;
  left: 50%;
  margin-left: -6rem;
  background: #ffffff;
  border: 2px solid grey;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__button {
  padding: 0.3rem;
}

.is-visible {
  display: flex;
}