*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: monospace, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
