*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 8px;
}

@font-face {
  font-family: 'Digital';
  src: url('./fonts/digital-7-webfont.woff2') format('woff2'),
       url('./fonts/digital-7-webfont.woff') format('woff'),
       url('./fonts/digital-7-webfont.ttf') format('truetype'),
       url('./fonts/digital-7-webfont.svg#digital-7regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
